/*fonts*/
@font-face{
    font-family: HKGrotesk;
    src: url(../fonts/HKGrotesk-Regular.otf);
}
@font-face{
    font-family: HKGrotesk;
    src: url(../fonts/HKGrotesk-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: LibreBaskerville;
    src: url(../fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: LibreBaskerville;
    src: url(../fonts/LibreBaskerville-Italic.ttf);
    font-style: italic;
}



/*others*/
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
ul.nav__footer__list {
    padding: 0;
}
body{
    margin: 0;
}
.menu__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #ffffff85;
    z-index: 999;
    display: none;
}
.menu__overlay.active {
    display: block;
}
.stop__scroll {
    overflow: hidden;
}
.burger__menu__list{
    display:none;
}




/* --- header ---*/
.header__up{
    margin : 20px 0px 20px 220px;
    display: flex;
    justify-content: space-around;
}
.header__main{
    font-family: HKGrotesk;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.header__main a{
    color : #003B5C;
}
.weather__section{
    display: flex;
}
.nav__list{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav__menu__item{
    padding: 0px 20px;
    letter-spacing: 0.3px;
}
.header__sections{
    border-top: 1px solid #E3DACC;
}
.header__sections .nav__list{
    padding: 10px 0px;
}

/*burger menu*/
.burger__menu{
    display:none;
    width: 50px;
    height: 25px;
    position: relative;
    justify-content: space-between; 
}
.burger__menu .line{
    display: block;
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    transition: 0.3s all;
}
.burger__menu .line:first-of-type {
    top: 0%;
}
.burger__menu .line:last-of-type {
    bottom: 0%;
}
.burger__menu .line:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}
.burger__menu.active .line:first-of-type {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}
.burger__menu.active .line:last-of-type {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
}
.burger__menu.active .line:nth-of-type(2) {
    opacity: 0;
}



/* --- main --- */

/*hero*/
.hero__section{
    display: flex;
    width:100%;
    justify-content: space-around;
    min-height: 900px;
}
.hero__content{
    position: relative;
}
.hero__content:first-of-type{
    width : 55%;
}
.hero__content:last-of-type{
    width : 40%;
}
.hero__content img{
    width: 100%;
}
.hero__link a{
    color:#F24922;
    font-family: HKGrotesk;
    text-transform: uppercase;
    font-size: 12px;
}
.hero__textblock{
    background-color: white;
    text-align: center;
    position: absolute;  
    bottom: 23%;
    left: 50%;
    transform: translate(-50%, 0);
}
.first__hero .hero__textblock{
    width: 65%;  
}
.sec__hero .hero__textblock{
    width: 77%;   
}


/* - categories - */

/*titre*/
.title__section{
    display: flex;
    justify-content: space-around;
}
.title__section h3{
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-family: HKGrotesk;
    text-transform: uppercase;
    border: 1px solid #E5DBD1;
    box-shadow: 2px 2px #E5DBD1;
    color : #003B5C;
    padding: 2px 20px;
}
.double__line{
    margin:auto;
    width: 40%;
    height: 2px;
    border-top: 1px solid #E5DBD1;
    border-bottom: 1px solid #E5DBD1;
}

/*menu list*/
.nav__section__items{
    padding: 0px 10px;
}
.nav__section__items a, li{
    font-family: HKGrotesk;
    font-size: 12px;
    color: rgba(93, 83, 79, 0.6);
    padding: 0px 10px;
}
.section__menu{
    display: flex;
    justify-content: center;
}
.readall__div a{
    color:#F24922;
    font-family: HKGrotesk;
    text-transform: uppercase;
    font-size: 12px;
}


/*articles*/
.articles{
    display: flex;
    width:100%;
    justify-content: space-around;
}
.article__content{
    width: 31%;
}
.article__content img{
    width: 100%;
}
.article__link a{
    color:#F24922;
    font-family: HKGrotesk;
    text-transform: uppercase;
    font-size: 12px;
}

/*texts*/
.article__textblock h5, .hero__textblock h5{
    color: rgb(93, 83, 79, 0.6);
    font-family: HKGrotesk;
}
.article__textblock span, .hero__textblock span{
    color: #003B5C;
    text-transform: uppercase;
    opacity: 100%;
}
.hero__textblock h3{
    color: #003B5C;
    font-family: LibreBaskerville;
    font-size: 36px;
}
.article__textblock h3{
    color: #003B5C;
    font-family: LibreBaskerville;
    font-size: 22px;
}
.article__textblock p, .hero__textblock p{
    color: #5D534F;
    font-family: LibreBaskerville;
    font-size: 16px;
}
.articles{
    padding-bottom: 80px;
}


/*newsletter section*/
.newsletter__section{
    height: 456px;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.newsletter__text{
    margin: auto;
    vertical-align: middle; 
    text-align: center;
    position: absolute;
    color: white;
    font-family: LibreBaskerville;
    width: 50%;
}
.newsletter__text h3{
    font-size: 52px;
}
.newsletter__text span{
    font-style: italic;
}
.newsletter__text p{
    font-size: 22px;
}
.newsletter__button{
    color: #003B5C;
    background-color: white;
    border: 1px solid #003B5C;
    box-shadow: 4px 4px #F24922;
    padding: 10px 40px;
    text-transform: uppercase;
    font-family: HKGrotesk;
}
.newsletter__button:hover{
    background-color: #F24922;
    position: relative;
    top: 5px;
    left : 5px;
    box-shadow: none;
    border: none;
    color: white;
    transition: 0.3s;
}



/* --- footer --- */
.footer__main{
    background-color: #E74832;
    height: 390px; 
    font-family: HKGrotesk;
    color: white;

}
.footer__top{
    justify-content: space-around;
    display: flex;
    height: 80%;

    align-items:center;
}
.footer__top h6{
    font-size: 22px;
}
.footer__top a{
    color:white;
    text-transform: uppercase;
}
.footer__list__button{
    border: 1px solid white;
    box-shadow: 3px 3px #E74832, 4px 4px white;
    padding: 10px 40px;
}
.footer__list__button:hover{
    background-color: white;
    position: relative;
    top: 4px;
    left : 4px;
    box-shadow: none;
    border: none;
    color: #E74832;
    transition: 0.6s;
}
.footer__bottom .double__line{
    width: 98%;
}
.footer__bottom{
    text-transform: uppercase;
}

.footer__bottom__text{
    display:flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.footer__list__social a{
    padding: 0px 2px; 
}


/*iPad*/
@media(max-height: 1024px){  
    .to__hide{
        display:none;
    }
    .burger__menu{
        display: block;
        z-index: 1001;
    }
    .burger__menu__list.active{
        display:block;
        width:50%;
        height: 100%;
        background-color: white;
        position: fixed;
        z-index: 1000;
        right: 0;
        top: 0;
        padding-top: 60px;
    }
    .burger__menu__list.active a{
        font-size: 20px;
        letter-spacing: 2px;;
    }
    .burger__menu__list.active li{
        margin: 10px;
    }
    .burger__menu__list.active .seperation__line{
        width: 95%;
        height: 1px;
        border-bottom: 1px solid #E5DBD1;
        margin: 20px 0;
    }
}


